<div class="flex-container">
<% @dogs.each do |dog| %>

<div class="header" id="myheader">
<h2>Rent A Chi-Chi</h2>
</div>


<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>
</div>

<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>
</div>

<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>

</div>
<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>
</div>

<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>
</div>

<div class="card-product"><h1><%= dog.name %></h1>
<p>Description Here</p>
<button type="button">Book Me!</button>
</div>

<% end %>
</div>