<div class="container">


  <div class="dog-card-container">

  <h1><%= @dog.name %></h1>
  <h2> I'm adorable!</h2>
      <div class="dog-card">
        <div class="img-text-container">

            <div class="img-container">
            <img src="<%= @dog.img_url %>" alt="">
            </div>

            

            <div class="text-container">
              <p class="description"><%= @dog.description %></p>
          
              <div class="button-container">

                <p class="secondary-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec facilisis ex, vitae scelerisque odio.
                </p>
            
                <div id="link"><div class="btn-container">
                <%= link_to 'Book This Chi', new_dog_booking_path(@dog), class: "btn btn-flat" %></div>
                </div>
              </div>
            </div>


              
        </div>   

          <div class="map-container">
            <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          
          </div>
      </div>

          <div id="link"><%= link_to 'View Other Chihuhuas', dogs_path, class: "" %>
          </div>
  </div>



</div>
